body{
    max-width: 1250px;
    margin: 0 auto; 
    font-family: Roboto, sant-serif; 
    
}
.header-box{
    margin-top: 20px;
}
.header-logo{
    padding-left: 82px;

}
.header-box{
 display: flex;
 gap: 85px;
}

.haeder-link li{
display: inline;
padding-left: 40px;

}
.haeder-link a{
text-decoration: none;
color:#393838;
font-size: 16px;
line-height: 1.25;
}
.haeder-link a:hover{
    color: #1b70bf;
    font-size: 20px;
}

.header-botton{
border-radius: 28px;
background-color:#6F2CFF ;
color: #ffffff;
border-width: 1px;
text-align: center;
width: 187px;
height: 45px;

}
.header-botton:hover{
background-color: #62acf1;
color: #393838;
}

/* -----------main----------------------- */
main{
background-color: #F6BED9;
padding-top: 134px;
padding-left: 147px;
display: flex;
margin-top: 15px;
}

.text{
font-size: 54px;
line-height: 1.2;
color: #000000;


}
main span{
   color:  #6F2DFF;
}
.text-main{
font-size: 18px;
line-height: 30px;
color: #000000;
width: 470px;
}
.cnopka{
    width: 254px;
    height: 45px;
    border-radius: 28px;
    border-width: 1px;
    border-color: #6F2DFF;
    background-color: #ffffff;
    text-align: center;
    color: #000000;

}
.piction{
    padding-top: 30px;
    padding-left: 140px;
    padding-bottom: 18px;
}
/* ------------sectionsONE--------------/// */
.sections, .sections-link{
    display: flex;
    padding-right: 15px;
}
.sections{
    margin-top: 54px;
    margin-left: 92px;
    margin-bottom: 179px;
}
.sections h2{
    font-size: 40px;
    line-height: 0.9;
    line-height: 96%;
   color: #1C1C1C ;
   padding-top: 185px;
   
}
.sections-link li{
border-color: #bebbbb;
border-width: 1px 1px 2px 1px;
border-style: inset;
margin-right: 20px;
width: 334px;
list-style-type: none;
}


.sections-link p{
    width: 324px;
    font-size: 18px;
line-height: 1.2;
color: #6F2CFF;
text-align: center;
letter-spacing: 0.8px;

}

.sections-link h3{
Font-size: 26px;
line-height: 0.8;
color: #000000;
letter-spacing: 0.8px;
text-align: center;

}
/* -------------sectiontwee------------ */

.titlel{
font-size: 40px;
Line-height: 0.9;
color: #000000;
text-align: center;

}
.titlel-link{
 display: flex;
 text-align: center;
 padding-bottom: 84px;
}
.titlel-link p{
width: 310px;
Font-size: 15px;
Line-height: 1.2;
    
}
.titlel-link h4{
    font-size: 19px;
    line-height: 23px;
    text-align: center;
}
.titlel-link li{
    padding-right: 93px;
list-style-type: none;
    
  

}
/* -------------footer-------------------------- */

.footer-link{
display: flex;
gap: 35px;
   } 
.footer-box{
    display: flex;
    background-color: #20003C;
  padding: 25px;

}

.footer-link li{
list-style-type: none;

}

.footer-link a, .aline a{
font-size: 16px;
line-height: 20.8px;
padding-right: 35px;
color: #ffffff;
text-decoration: none;
padding-left: 30px;

}
